<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <p><%= host%></p>
        <p><%= date%></p>

        <table>
            <tbody>
                <% body.forEach(data => { %>
                <tr>
                    <td><%= data.rank%></td>
                    <td><%= data.keyword%></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
